div{
    width: 600px;
    margin: 10px auto;
    text-align: center;
    font-family: Tahoma;
}
h1{
    font-size: 28px;
    text-decoration: underline;
}
h2{
    font-size: 24px;
    color: #bd4348;
    font-weight: normal;
}
p{
    font-size: 18px;
    line-height: 28px
}
span{
    font-weight: bold;
    color: #bd4348;
}
a{
    color: #ffffff;
    border-radius: 10px;
    background-color: #bd4348;
    text-decoration: none;
    padding: 2px 10px;
}